<header class="logo">
<h5>Welcome to Music<span class="brains">BRAINZZZZZZZ</span></h5>
<h6>Because Zombies Want To Jam Too</h6>
</header>
 
<form action="/" method="post">
  <input type="text" name="artist" placeholder="Artist Name">
  <input type="submit" value="GET ME JAMZZZZZZZ">
</form>