<!doctype html>

<html lang="en">

  <head>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="styles.css">
    <link href='http://fonts.googleapis.com/css?family=Akronim' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Frijole' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <title>MusicBrainzzz</title>
  </head>

  <body>
    <%= yield %>
  </body>

</html>